/* -------------------------------------------------- Gerenal Classes -------------------------------------------------- */

.reverse_captcha, .rc {width:1px; height:1px; overflow:hidden; margin-left:-99999px;}
.fadein {opacity: 0;}

@mixin border_radius($value:5px) {-webkit-border-radius:$value; -moz-border-radius:$value; border-radius:$value;}
@mixin border_box {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
@mixin box_shadow($value:0 0 5px rgba(0, 0, 0, 0.5)) {-webkit-box-shadow:$value; -moz-box-shadow:$value; box-shadow:$value;}
@mixin box_shadow_dark {-webkit-box-shadow:0 2px 5px 0 rgba(50, 50, 50, 0.8); -moz-box-shadow:0 2px 5px 0 rgba(50, 50, 50, 0.8); box-shadow:0 2px 5px 0 rgba(50, 50, 50, 0.8);}
@mixin box_shadow_light {-webkit-box-shadow:0 2px 5px 0 rgba(200, 200, 200, 0.8); -moz-box-shadow:0 2px 5px 0 rgba(200, 200, 200, 0.8); box-shadow:0 2px 5px 0 rgba(200, 200, 200, 0.8);}
@mixin cover {-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; background-position:center center; background-repeat:no-repeat;}
@mixin transition($second:0.4s) {-webkit-transition:all $second ease; -moz-transition:all $second ease; -o-transition:all $second ease; -ms-transition:all $second ease; transition:all $second ease;}
@mixin transition_color($second: 0.4s) {-webkit-transition: color $second ease; -moz-transition: color $second ease; -o-transition: color $second ease; -ms-transition: color $second ease; transition: color $second ease;}
@mixin transition_background_color($second: 0.4s) {-webkit-transition: background-color $second ease; -moz-transition: background-color $second ease; -o-transition: background-color $second ease; -ms-transition: background-color $second ease; transition: background-color $second ease;}
@mixin transition_colors($second: 0.4s) {-webkit-transition: color $second ease, background-color $second ease; -moz-transition: color $second ease, background-color $second ease; -o-transition: color $second ease, background-color $second ease; -ms-transition: color $second ease, background-color $second ease; transition: color $second ease, background-color $second ease;}
@mixin transition_width($second: 0.4s) {-webkit-transition: width $second ease-in-out; -moz-transition: width $second ease-in-out; -o-transition: width $second ease-in-out; transition: width $second ease-in-out;}
@mixin transition_delay($second: 0.4s) {-webkit-transition-delay: $second; -moz-transition-delay: $second; -o-transition-delay: $second; transition-delay: $second;}
@mixin center {position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);  -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%);}
@mixin hcenter {position: absolute; left: 50%; transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%);}
@mixin vcenter {position: absolute; top: 50%; transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
@mixin gradient($first-color:#40bed9, $second-color: #74e1ec){ background:$first-color; background: -moz-linear-gradient(45deg, $first-color 0%,  $second-color 100%); background: -webkit-linear-gradient(45deg, $first-color 0%, $second-color 100%); background: linear-gradient(45deg, $first-color 0%, $second-color 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr=' $second-color',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin gradientM{background: rgba(9,94,130,0.9);background: -moz-linear-gradient(top, rgba(9,94,130,0.9) 0%, rgba(28,165,184,0.9) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,94,130,0.9)), color-stop(100%, rgba(28,165,184,0.9)));background: -webkit-linear-gradient(top, rgba(9,94,130,0.9) 0%, rgba(28,165,184,0.9) 100%);background: -o-linear-gradient(top, rgba(9,94,130,0.9) 0%, rgba(28,165,184,0.9) 100%);background: -ms-linear-gradient(top, rgba(9,94,130,0.9) 0%, rgba(28,165,184,0.9) 100%);background: linear-gradient(to bottom, rgba(9,94,130,0.9) 0%, rgba(28,165,184,0.9) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#095e82', endColorstr='#1ca5b8', GradientType=0 )}
@mixin gradientB{background: #067ca3; background: -moz-linear-gradient(left, #067ca3 0%, #23c6dd 100%);background: -webkit-linear-gradient(left, #067ca3 0%,#23c6dd 100%); 
background: linear-gradient(to right, #067ca3 0%,#23c6dd 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#067ca3', endColorstr='#23c6dd',GradientType=1 ); }

@mixin gradientV{background: #0e6a8e; background: -moz-linear-gradient(top, #0e6a8e 0%, #23c4db 100%); background: -webkit-linear-gradient(top, #0e6a8e 0%,#23c4db 100%); background: linear-gradient(to bottom, #0e6a8e 0%,#23c4db 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e6a8e', endColorstr='#23c4db',GradientType=0 ); }
input, textarea {@include border_box;}

/* -------------------------------------------------- Template Styles -------------------------------------------------- */
 
// Color
$black:#000;
$grey: #666;
$grey2:#e3e3e3;
$grey-bg:#e9e9e9;
$white:#fff;
$pink:#ff5b52;
$blue:#23c6dd;
$d-blue:#067ba3;
$d-grey:#4d4d4d;
$blue2:#3183a2;
$l-blue:#d2f9ff;
$l-blue2:#1ca5b8;
$green:#78e4cf;
$blue3:#052c4d;
$blue4:#0c6f95;


//font
$primary-font-size:16px;
$smallest-font-size:0.733em;
$largest-font-size:4.500em;
$font-size1:0.800em; //12px
$font-size2:0.867em; //13px
$font-size3:0.933em; //14px
$font-size4:0.733em; //11px
$font-size5:2.400rem; //36px
$font-size6:1.867em; //28px
$font-size7:1.200em; //18px
$font-size8:1.600em;//24px
$font-size9:1.133em;//17px
$font-size10:1.875em;//30px
$font-size12:1.375em;//22px
$font-size13:1.250em;//20px
$font-size14:3.000em;//48px
$font-size15:3.750em;//60px

/* fix for IE */
object {width: 100%;}
.os-animation{opacity:0;}

 

// Font

@mixin generalEn {font-family:'Comfortaa', helvetica, arial, sans-serif, "source-han-sans-traditional", "Microsoft JhengHei", "Microsoft Yahei", "Hiragino Sans GB"; font-weight:100;}
@mixin chineseSp{font-weight: 100; font-family:'Comfortaa', helvetica, arial, sans-serif, "source-han-sans-traditional", "Microsoft JhengHei", "Microsoft Yahei", "Hiragino Sans GB";}
@mixin Number{font-family: 'Oswald',helvetica, arial, sans-serif, "source-han-sans-traditional", "Microsoft JhengHei", "Microsoft Yahei", "Hiragino Sans GB"; font-weight:700;}


html, body{height:100%;}
body {font-size:$primary-font-size;color: $grey; letter-spacing:0.5px; @include generalEn ; position:relative;}

.pageMaster{position:relative;min-height:100%; }

.pos-relative{position:relative;}
.img-full{width:100%;}
.icon-r{display:inline-block; margin-left:5px; vertical-align:top; line-height: 1;}


.list-inline{
     list-style-type:none;padding:0; margin: 0;
     li{display:inline-block; float:left;width:33.33333333333333%;}
}

.link{color:$grey; text-decoration:underline;
    &:hover{color:$blue;}
}

h1,h2,h3,h4,h5,h6{
    @include chineseSp;
}

a:focus, a:hover{
    outline:none !important;
}

.sessionTitle{
     font-size:$font-size10;font-weight: 100; text-shadow:0 0 3px rgba(255,255,255,0.4); letter-spacing:3px; margin:0 auto;
    &:after{display:block; max-width:20px; height:2px; margin:0 auto; background:$white; content:""; margin:5px auto 15px auto;}
}

.widget-social{
    a{display:inline-block; margin:0 5px;}
}



.widget-banner{
    .slideItem{
        position:relative;
        .pos-text{width:100%; color:$white; letter-spacing: 5px;  text-shadow:0 0 10px rgba(0,0,0,0.3);}
        @media(min-width:768px){
            .pos-text{@include vcenter; top: 55%;}
        }
        h6{font-size:$font-size5*1.2; line-height: 1.4; font-weight: 200;}
        .caption{font-size:$font-size7;}
        @media(max-width:767px){
            h6{ padding: 0 ;letter-spacing: 0; font-size:$font-size7;}
            .pos-text{position:absolute; padding:15px 20px; left:0; bottom:0; background:rgba(0,0,0,0.2);}

        }
    }
    &.theme2{
        min-height:400px;position: relative;
        .pos-text{@include vcenter; width:100%; color:white; z-index:2;
            .container{text-align:center;}
            h1{margin:0 0 5px 0; font-size:$font-size10;}
        }
        &:after{position:absolute; left:0; width:0; content:""; background:black; opacity:0.15; width:100%; height:100%;}
    }
    &.theme3{
         min-height:600px;position: relative;
        .pos-text{@include vcenter; width:100%; color:white; z-index:2;
            .container{text-align:center;}
            h1{margin:0 0 5px 0; font-size:$font-size10;}
        }
        &:after{position:absolute; left:0; width:0; content:""; background:black; opacity:0.15; width:100%; height:100%;}
    }
}

.btn{
    display:inline-block; padding:5px 15px; letter-spacing:2px; font-weight:100; font-size:$font-size9;  @include transition;
    .icon{display:inline-block; max-width:20px; margin-right:5px; @include transition;}
    &.theme1{
        background:$pink; color:$white; border-radius:30px;
        &:hover{
            background:$blue;
            .icon{margin-right:15px; margin-left:-4px;}
        }
    }

     &.theme2{
       @include gradientB; color:$white; border-radius:30px;
        &:hover{
            background:$pink;
            .icon{margin-left:15px; }
        }
    }
    &.theme3{
        background:url("../images/common/gradientBg.png") center center; @include transition; position:relative; color:white; border-radius:100px; height:90px; width:90px; z-index:3; text-align:center;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(219,254,255,1);-moz-box-shadow: 0px 0px 15px 0px rgba(219,254,255,1);box-shadow: 0px 0px 15px 0px rgba(219,254,255,1);
        .btn-wrapper{padding:20px 0 0; line-height:1.1;z-index:3;  position: relative; }
        &:after{
            position:absolute; height:120%; width:120%; content:""; @include transition;background:rgba(13,101,138,0.2); top:-10%; left:-10%; z-index:2; border-radius:100%;
            
        }
        .icon{position:absolute; left:-5px; top:30px; @include transition;}
        .circle{position:absolute; height:140%; width:140%; content:""; background:rgba(13,101,138,0.1); top:-20%; left:-20%; z-index:1; border-radius:100%;}
        &:hover{
            height:100px; width:100px;
            &:after{height:130%; width:130%;top:-15%; left:-15%; opacity:0.5;}
        }
    }

     &.theme4{
         background:url("../images/common/gradientBg2.png") center center; padding:5px 20px; @include transition; position:relative; color:white; border-radius:30px; color:$white; 
        &:hover{padding:5px 40px; background:$pink;}
     }

      &.theme5{
         background:rgba(255,255,255,0.4); padding:5px 30px; @include transition; position:relative; color:white; border-radius:30px; color:#3f3f3f; 
        &:hover{padding:5px 40px; background:$pink; color:$white;}
     }
      &.theme6{
         background:$white; padding:5px 30px; @include transition; position:relative; border-radius:30px; color:$d-blue; 
        &:hover{padding:5px 40px; color:$white;background:$pink;}
     }

     &.theme7{
         background:$blue3; padding:5px 30px; @include transition; position:relative; border-radius:30px; color:$white; 
        &:hover{padding:5px 40px; color:$white;background:$pink;}
     }
    
}

.dropdown-menu{
    border-radius:0;
    li{color:$grey;}
}

.font-large{
    font-size:$font-size5*2;  @include Number; line-height:1;    padding-bottom: 5px;
}

.h-title{
    color:$d-blue; font-size:$font-size5*1.3; letter-spacing:2px;
     &:after{display:block; max-width:20px; height:2px; margin:0 auto; background:$d-blue; content:""; margin:5px 0 15px;}
}

.ani-float{
    animation: float 3s ease-in-out infinite;
}

.img-fluid{max-width:100%;}

.font-black{
    color:#222;
}

.font-small{font-size:14px;}


header{
    padding:20px 20px 10px 20px; @include gradientM; color:white; z-index:2; position: relative;
    @media(max-width:767px){
         padding:20px 20px;
         .navbar-toggle .icon-bar {
            background: $white;
            position: relative;@include transition;
        }
        #login-menu{
             margin-top:20px; padding: 0;
            li{display:block;}
            .nav-menu{padding:0;}
        }
    }
    &.fixed{position:fixed; top:0; left:0; width:100%; z-index: 3; 
        
    }
    @media(max-width:767px){
            position:relative;
            .navbar-toggle{position:absolute; right:0px; top:5px;}
            hr{display:none;}
            .container{padding:0;}
            .mainMenu{
                position:relative;
                .lang-opt{width:30%; float:right; margin-right:10%; text-align:right;}
                .logo-core{width:60%; float:left; text-align:left;}
            }
        }
    hr{box-shadow: 0 0 5px rgba(81, 203, 238, 1); margin:15px 0 5px 0;}
    a{color:$white;}

    .nav-menu{
        list-style-type:none; text-align:center; margin: 0;
        li{display:inline-block; padding:0 20px;letter-spacing:1px; text-transform:uppercase;
            a{color:$white; display:block; padding:15px 0; text-decoration:none; position:relative;
                &:after{content:""; display:block; background:$white; bottom: 10px;position:absolute; height:2px; width:100%; left:0;  opacity:0; display:block; @include transition;}
                &:hover,{text-decoration:none;
                    &:after{opacity:1;}

                }
            }
            &.booking{
                .icon{vertical-align: top;}
            }
            &.active{
                a:after{opacity:1;}
            }
            .theme6{
                font-size:16px;-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.3);-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.3);box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.3);
                 &:hover{padding:5px 30px; 
                    &:after{opacity:0;}
                    svg path{fill:white;}
                 }
            }
        }
    }
}

.margin-t-20{
    display:inline-block; margin-top:20px;
}

.headline{
    color:$white; padding:50px 0;
    h1{font-size:$font-size10;}
}

footer{
    background:white; z-index:2; position: relative;
     svg path {
        fill:$blue2;
     }
    padding:30px 20px;  font-size:12px; color:$blue2;
    a{color:$blue2;@include transition;
        &:hover{color:$pink;}
    }
    .widget-link{
        padding-left:20px;
        li{line-height:2;}
        @media(max-width:767px){
            padding:0; 
            ul{list-style-type:none; padding:0; text-align: left;}
            li{display:inline-block; padding:0 10px; line-height:1; border-right:1px solid rgba(0,0,0,0.2);
                &:last-child{border:none;}
            }
        }
    }

    .widget-contact{
        ul{list-style-type:none; padding:0;
            li{line-height:2;}
        }
    }
    .widget-social{
        ul{list-style-type:none; padding:0; margin-top:10px;
            li{display:inline-block; margin:0;}
        }
        @media(max-width:767px){
            text-align: center;
        }

        
    }
    .copyright{border-top:1px solid #adcdda; padding-top:15px; margin-top:20px;}

    @media(max-width:767px){
        .container{padding:0;}
    }
}

.widget-breadcrumb{
    .breadcrumb{
         text-align: center; background:transparent; padding:15px 15px; margin-bottom: 0px;color:#8a8a8a;
         a{color:#8a8a8a;}
         .number{color:$l-blue2; border:1px solid $l-blue2; border-radius:100%; display:none; line-height: 1.9; margin:0 10px 0 0; width: 24px;font-size: 12px;}
        .active{
            color:$l-blue2;
            a{ color:$l-blue2;}
            .number{display:inline-block;} 
        }
    }
    &.theme2{
        font-size:14px;
        .breadcrumb{text-align:left; }
    }

}

@media(max-width:767px){
    .sessionTitle, .h-title{font-size:$font-size7;}
}

.session-hall{
    padding:120px 0;
    .sessionTitle{color:$white;}
    .grid-item{
        padding:20px 30px; float:left; width:20%;
        .text-wrapper{text-align:center; color:$white; padding:20px 0;}

            img{border-radius:100%;
                border:5px solid $l-blue;
            }
       
    }
}

//home
.session-earth{
    padding:80px 0; color:$white; 
    .grid-item{
        position:relative;
        .pos-text{
            @media(min-width:768px){
                @include vcenter;
            }
            @media(max-width:767px){ 
                text-align:center;
            }
        }
        .pos-item{position:absolute;
            &.spaceM{left:-20px; top:20%;}
            @media(max-width:767px){
                &.spaceM{max-width:35%; left:20px; top:40%;}
            }
        }
    }

    @media(max-width:767px){
        padding:40px 0;
    }

    
    .img-wrapper{
        text-align:center;
        img{margin:0 auto;}
    }

    .paragraph{

        font-size:$font-size8;
        @media(max-width:767px){
            font-size:$primary-font-size; text-align:center;
        }
    }
    a{margin-top:20px;}
    .large-font{@include Number;}

}

.bx-wrapper {
    border:none; margin-bottom:0; -moz-box-shadow: none; -webkit-box-shadow: none;  box-shadow: none;
    .bx-pager-item{
            display:block;
    }
    .bx-pager {
        z-index: 100; top: 48%; bottom:inherit; width: 30px;
        &.bx-default-pager {
            a {border: 2px solid #fff; background:transparent;}
            a:hover, a.active,a:focus{background:white;}
            .bx-pager-item{ margin:8px 15px;}
        }
     }

    .bx-controls-direction{display:none;}
}

.widget-slider{
    .img-wrapper, .text-wrapper{padding:0;}
    .text-wrapper{
        position:relative;
        .wrapper{ color:$d-grey; padding:0 10%;}

        background:url("../images/home/sliderBg.jpg") center center no-repeat;
        -moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;background-size:cover;
        a{margin-top:10px;}
        @media(min-width:768px){
            p{font-size:$font-size12;}
             .wrapper{@include vcenter; width:100%; }
        }
        @media(max-width:767px){
             .wrapper{padding:30px 20px; }
        }

    }
} 

//logined
.session-logined{
    border-radius:100%; height:1100px; position:relative; z-index: 1; margin: -100px auto;
    -webkit-box-shadow: inset 0px 0px 70px 0px rgba(145,218,255,0.7); text-align:center; color:white; -moz-box-shadow: inset 0px 0px 70px 0px rgba(145,218,255,0.7);box-shadow: inset 0px 0px 70px 0px rgba(145,218,255,0.7);
    .wrapper{padding:100px;}
    h1{font-size:$font-size10; text-shadow:0 0 10px rgba(255,255,255,0.6);}
    .widget-profile{max-width:500px; margin:20px auto; border-bottom:1px solid rgba(255,255,255,0.3); padding-bottom:20px;}
    .pos-item {position:absolute; right: -5%; top:30%;}
    .myProfile-txt{text-align:left; width:70%; padding:20px 20px}
    .myProfile{
        a{color:#c4fffa; display:block;text-shadow:0 0 10px rgba(255,255,255,0.6);  height: 120px; width:120px; border-radius:100%; border:3px solid #c4fffa;
            img{margin-top:20px;}
            &:hover{text-decoration:none;}
        }
    }

    .top-part{padding-top:30px;}
    .bottom-part{
        max-width:750px; margin:0 auto; padding-top:20px;
        h4{color:#c4fffa;text-shadow:0 0 10px rgba(255,255,255,0.6); margin:20px 0; }
        .col-grid{
            .item{margin-bottom:30px;}
            a{color:white;}
        }
        .gameIcon{width:40%; float:left;}
        .descrpt{
            width:60%; float:left; text-align:left;
            h5{background:$blue3; border-radius:30px; font-weight:500; display:inline-block; margin:0 0 5px 0; padding:5px 20px; line-height:1.5;}
            .collection{padding:10px;}
            .collectionInline{
                list-style-type:none; padding:0; margin:10px 0 0 0;
                li{margin:0 5px; display:inline-block;}
            }

        }
    }
}
.section-loglanding{
    position:relative;
    .space-outer{position:absolute; left:-10%; width:120%; height:1300px;top: -10%; border:1px solid rgba(255,255,255,0.2); border-radius:100%; z-index: -1;}
}

//hall
.section-hallIntro{
   
    color:$white;
    .session-intro{ padding:50px 0;
       .container{ max-width:900px; margin:0 auto;}
       .counter-item{
            text-align:center;
            .counter{border-radius:100%;border:1px solid rgba(255,255,255,0.2); padding:70px 0 0; margin:20px auto 0; @include Number; font-size:80px; font-weight:bold; height:200px; width:200px; line-height:0.4;
                .small-font{font-size:14px; line-height:0.7;}
            }
       }
        h1{
            &:after{display:block; margin:10px auto 30px; background:$white; height:2px; width:20px; content:""; text-align:center;}
        }
        p{line-height:1.6;}
    }

    .session-hall{
        min-height:500px; position:relative;
        h4{font-size:20px; font-weight:bold;}
        .text-wrapper{
            @media(min-width:768px){
                @include vcenter; width:100%; line-height:1.6;
            }
        }
        .pos-bg{position:absolute; height:100%; width:100%; background:rgba(0,0,0,0.4); top:0; left:0;}
    }
}

//about
.section-about{
    .section-bio{
        padding:50px 0; max-height:500; min-height:500px;
        .counter{font-size:$font-size14*0.8; border-radius:100%;margin:0 auto; border:1px solid rgba(255,255,255,0.4); height: 100px;  width: 100px; padding: 20px 0; }
        .year{font-size:$primary-font-size*1.2; margin:20px auto}
        .item{
            .img-wrapper{max-width:200px; margin:0 auto 15px;}
            &.first-child{
                .img-wrapper{margin-top: -20px; max-width: 180px;}
            }
            .small-font{font-size:15px;}
            .icon{vertical-align:top; margin-right:5px; display:inline-block; max-width:15px;}
            h4{font-size:20px; margin-top:10px;}
        }
    }
    .session-content {
        &.set1{
            #slide1, #slide2{
                @media(min-width:768px){
                    .graphInfo {min-height:360px;}
                }
                .btn-list{
                    min-height:120px;
                }
                .img-gallery{
                    img{border-radius:100%;
                        border:1x solid $white;
                    }
                }
                h4{line-height:1.7;}
                .content-wrapper{margin-top:40px;}
                .counter{    
                    display: inline-block;@include Number;font-size: 3.75em; border-radius: 100%; width: 170px; height: 170px; margin:20px auto;line-height: 0.8; background:$pink; padding: 50px 5px;
                    .small-font{font-size:14px;}
                }
            }
            .cssHide{display:none;}
        }
        &.set2{
            .grid-item{min-height:600px;max-height:600px;}
            h6{line-height:1.6;}
            .section-case2{
                padding:50px 0;
                .graph{margin:40px auto auto;}
                .graph-item{
                    text-align:center;
                    .img-wrapper{max-width:250px; margin:0 auto 15px;}
                    b{font-size:20px;}
                }
            }
            .section-case3{
                padding:50px 0;
                h5{
                    b{@include Number;font-size:40px; }
                    .small-font{font-size:30px; }
                }
                
            }


        }
        &.set3{
            .section-case2b{
                .img-wrapper{margin-top:30px;}
            }

            .section-case3b{
                 p{line-height:2; margin-top:20px;}
                 .img-wrapper{margin-top:30px;}
               
            }

            .section-case4b{
                 p{line-height:2; margin-top:20px;}
                 .img-wrapper{margin-top:30px;}
               
            }
        }
    }
}

//profile
.section-profile{
    .session-myprofile{
        color:$white; position:relative;
        .pos-grid{@include center;width:100%;}
       .title{font-size:$font-size14; text-shadow:0 0 10px rgba(255,255,255,0.4);}
       .info{line-height:1.7;}
       .btn-wrapper{list-style-type:none; padding:0; margin:0;
            li{display:inline-block; padding:0 10px;
                &:first-child{border-right:1px solid rgba(255,255,255,0.4);}
            }
            a.link{color:white; text-decoration:none;}
       }

    }

    .section-profileCon{
        padding:0 0 100px 0;
    }

    .game-profile{
        color:$white;
        .scorePanel{padding:40px 0; line-height:1.6;
            .score{
                .bar{position:relative; max-width:300px;}
                .widget-counter{@include center; color:white; text-align:center;
                    .font-large{ font-size:$font-size10; font-weight:600; display:block;}
                }
            }
            h1{font-size:$font-size10; text-shadow: 0 0 10px rgba(255,255,255,0.3);}
            .paragraph{
                padding:20px 0;
            }
        }

        .game-session{border-top:1px solid rgba(255,255,255,0.4); padding:40px 0; max-width:990px; margin:0 auto;}
        .grid-item{
            text-align:center; margin:20px 0;
            .text-wrapper{padding:30px 0;}
        }
        .showlist{margin-top:30px;}
        .game-descpt{padding:30px 0; text-align:center; line-height:1.6;}
        .video-selected{
            p{margin:20px auto;}
        }

        .slider-nav{
            margin-top:20px;
            .item .wrapper{
                margin:0 20px; position: relative; @include box-shadow;
                .text-wrapper{position:absolute; width:100%; left:0; bottom:10px; padding:10px; text-align:center; color:$white;}
                img{border:5px solid $white; @include transition;}
            }
        }

        .section-slide{
            margin:0 0 70px 0;
        }

        .slick-prev, .slick-next{width:59px; height:59px; z-index:1;}
        .slick-prev{background:url("../images/profile/slide-arrowl.png") center center no-repeat;}
        .slick-next{background:url("../images/profile/slide-arrowR.png") center center no-repeat;}
        .slick-prev:before, .slick-next:before{display:none;}

        .panelTitle2{ position:relative; letter-spacing:1px; z-index:2; margin:0; display:inline-block; border-radius:30px; padding:13px 20px; font-size:18px; color:white; background: #002a7f; background: -moz-linear-gradient(left, #002a7f 0%, #007891 100%);background: -webkit-linear-gradient(left, #002a7f 0%,#007891 100%); background: linear-gradient(to right, #002a7f 0%,#007891 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a7f', endColorstr='#007891',GradientType=1 );
            .icon{margin-right:5px; display:inline-block;}
         }
        .slider-shop{
            margin:-20px 0 0 0; position:relative;
            .slick-list{ border-radius:30px; padding:30px; background: #7ecdd1; background: -moz-linear-gradient(top, #7ecdd1 0%, #aad5f7 100%);background: -webkit-linear-gradient(top, #7ecdd1 0%,#aad5f7 100%); background: linear-gradient(to bottom, #7ecdd1 0%,#aad5f7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ecdd1', endColorstr='#aad5f7',GradientType=0 ); /* IE6-9 */
            }
            &:after{width: 101%; content: ""; position: absolute; border-radius: 30px; border: 1px dotted #7ecdd1; left: -5px; top: -5px; height: 106%;}
            .item{text-align:center;
                img{margin:0 auto;}
                .text-wrapper{color:#055674; margin-top:10px;}
            }

        }

        .pageTit{margin-top:20px;}

    }

    .game-session{
        .grid-item{position:relative;
            .speechBubble{position:absolute; @include transition; opacity:0; top: -40px;right: -100px;}
            .img-wrapper{
                &.theme2{
                    img{border-radius:100%; overflow:hidden; border:5px solid #a8e9f8; @include box-shadow(0 0 15px rgba(168, 233, 248, 0.5)); @include transition;}
                }
            }
            &:hover{
                .speechBubble{opacity:1;}
                .img-wrapper.theme2{
                    img{-ms-transform: scale(1.03); -webkit-transform: scale(1.1);transform: scale(1.1);}
                }
                .btn.theme7{padding:5px 40px; color:$white;background:$pink;}
            }
        }
    }
}

.type-list{
    list-style-type:none;
    padding:0; margin:0;
    li{display:inline-block; margin:0 10px;}
    .cssLabel{
        display:inline-block; margin-left:10px; border:1px solid $white; border-radius:30px; padding:5px 10px;
        .icon{display:inline-block; margin-right:5px;}
    }
}

.widget-submenu{
    display:inline-block; margin:0 auto; list-style-type:none;
    li{
        float:left; padding:0 10px 0 5px; margin:10px 5px; color:$white; position:relative;
        &:last-child{border:none;}
        a{color:white; display:block;
            &:hover{text-decoration:none;}
            &:after{content:""; display:inline-block; width:100%; @include transition; height:2px; background:$white; position:absolute; left:0; bottom:-5px; opacity:0;}
        }
        &:hover, &.active{
           a:after{opacity:1;}
        }
    }
}


//registration
.section-registration{
    padding:70px 0;
    .sessionTitle{ color:$white;}
    .paragraph{text-align:center;  color:$white;}
    .container{position:relative;}
    .pos-item {position:absolute; left: -18%; top:30%;}
    .pos-btn{position:absolute; right:-20px; top:-20px;}
    .selection-headcount{max-width: 600px; margin:50px auto;}
    .tnc{font-size:13px;max-width: 600px; margin:0 auto;}
    .btn-wrapper{margin-bottom:-30px;}
    &.session-search{
        .container{min-height:600px;}
        .space-box{width:700px; height:700px; @include center;}
         .space-box2{width:800px; height:800px; @include center;}
         .content{
            li{margin:0 0 9px 0;}
         }
    }
    .panel-wrapper{
        background:url("../images/reservation/panelBg.png") center center no-repeat; min-height:363px; @include cover; max-width:630px; margin:0 auto;
    }
    .panel-search{
        .form-control{max-width:300px; font-size: 16px;  margin:0 auto; border:none; background:#bbe8f0; color:#333;}
        form {margin: 60px 0 30px;}
    }
}

.inline-list{
    list-style-type:none;padding:0; margin:0;
    li{display:inline-block;width:50%; float:left;}
    a{color:$white; font-size:14px;}
    .icon{display:inline-block; margin-right:5px;}
}

//member Login
.section-MMlogin{
    padding:70px 0;   
    .panel-title{background:$l-blue2;display:inline-block;font-size:$font-size10*0.8; margin:0 auto; border-radius:30px; margin-top:-20px; padding:10px 20px; color:$white;}
    .paragraph{text-align:center;  color:$white;}
    .container{position:relative;}
    .pos-item {position:absolute; left: -28%; top:30%;}
    form {
        max-width:400px; margin:0 auto;
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $white;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:$white;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $white;
        }
    }
    .form-control{background:transparent; font-size: 16px;  border-width:0 0 1px 0; border-style:solid; border-color:$white;}
   
    .btn-wrapper{margin-bottom:-30px;}
   
    .panel-login{
         text-align: center;max-width:650px; margin: 0 auto;
       .login-box{border:3px solid $l-blue2; min-height:650px;-webkit-box-shadow: inset 0px 0px 30px 0px rgba(145,218,255,0.7); -moz-box-shadow: inset 0px 0px 30px 0px rgba(145,218,255,0.7);box-shadow: inset 0px 0px 30px 0px rgba(145,218,255,0.7);max-width:650px; border-radius:100%; margin: -20px auto 0; color:$white; padding: 150px 100px 0;}
       .btn-list{position:absolute; width:100%; bottom:-20px; left:0;}
    }
  
}

.space-box{
    position: absolute;left: -15%;top: -50%; z-index:-1; width: 130%; height: 180%;
    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,0.3);
    border-radius: 100%;
}

.space-box2{
    position: absolute;
    left: -25%;
    top: -65%;
    z-index:-1;
    width: 150%;
    height: 210%;
    border:1px solid rgba(255,255,255,0.1);
    border-radius: 100%;
}

.widget-form {
    max-width:940px; margin:70px auto; position:relative;
    .headline{margin-top: -45px; padding:0;}
    .wrapper{background:$white; padding:20px 60px; border-radius:20px; border:1px solid $l-blue;-webkit-box-shadow: inset 0px 0px 20px 0px rgba(26,158,179,0.5);-moz-box-shadow: inset 0px 0px 20px 0px rgba(26,158,179,0.5);box-shadow: inset 0px 0px 20px 0px rgba(26,158,179,0.5);}
    .subHead{display:inline-block; background:$white; margin:0 auto 0; color:$l-blue2; border:1px solid $l-blue2; border-radius:30px; padding:8px 20px;font-size:$font-size13;}
    form{margin:60px 0; text-align:center;}
    .selection{
         text-align:center; max-width:680px; margin:0 auto; display:inline-block;
        .item{
            width:200px; height:200px; position:relative; display:inline-block; margin:0 60px;  float: left;
            .cap{font-size:$font-size6;}
            .descpt{position:relative; z-index:2; text-align:center; padding:70px 0; color:white;}
            .shape{background:#c3c3c3; border-radius:10px; position:absolute; left:0; top:0; height:100%; width:100%; z-index:1; @include transition;}
            &:hover, &.active{
                .shape{transform: rotate(-45deg); @include gradientV;
                    &:after{border:1px solid #1a9dba; content:""; border-radius:10px; position:absolute; width:105%; height:105%; left:-2.5%; top:-2.5%;}
                }
                .cap{background:url("../images/reservation/itemBg.png") center center no-repeat;}
            }
        }
       
    }

    .input-number{border:none; display:inline-block; padding:5px 10px; text-align:center; width: 80px;}


    .icounter{
        text-align: left;
        .button{display:inline-block; border:1px solid $l-blue2; border-radius:100%; color:$l-blue2; margin:0 5px; text-align:center; width: 24px; cursor:pointer; font-family: arial;}
    }
    .form-field{margin-bottom:15px;}
}

//contact
.session-contact{
    padding:60px 0;
    .grid-info{
        .field{margin-bottom:10px; line-height:1.6}
        .icon{margin-right:5px; display: inline-block; width: 23px; height: 23px; font-size:14px;background:$green; border-radius: 100%; color: #fff; text-align: center; line-height: 1.5;
            .fa{ font-size: 13px;}
        }
    }
     
}
#map {
    width: 100%;height: 400px;
    
}

.map{
     position:relative;
     #map {
        width: 100%;height: 600px;
        
    }
    .contact-card{position:absolute; right:20%; top:25%; max-width:530px; z-index:2;
        .wrapper{background:$white;
            .content{padding:30px}
            h3{color:$l-blue2; margin:0 0 10px 0; }
            .grid{margin-bottom:10px; line-height:1.5;}
             .text-wrapper{display:inline-block; width:80%;}
             .ico{vertical-align:top;
                img{vertical-align: top;}
             }
            .icon{background:$l-blue2; height:20px; text-align:center; width: 20px; color:$white; display:inline-block;margin:0 auto; border-radius:100%;}
        }
        .btn-wrapper{
            background:$l-blue2;
            ul{list-style-type:none; padding:0; margin:0;} 
            li{float:left; font-size:12px;
              &.tel{ width:40%; border-right:1px solid rgba(255,255,255,0.3);}
              &.email{ width:60%;}
            }
            a{color:white; display:block; padding:8px 0px;  text-align:center;}

        }
    }
}

.session-gallery{
    .gallery-item{ padding:0;position:relative;overflow:hidden;
        .text-descpt{position:absolute; right:0; bottom:0; @include transition; padding:10px 20px; background:rgba(28,165,184,0.9); color:$white; z-index:2;}
        img{@include transition;}
        &:hover{
            img{transform: scale(1.05);}
           
        }
        &:nth-of-type(even) {
            .text-descpt{ background:rgba(223,55,61,0.9);}
        }
    }

}

.session-form{
    background: url("../images/contact/panelBg.jpg")left top repeat-x;
    padding:50px 0; position:relative;
    .container{position:relative;}
    .spaceM{left:inherit; right:-20px; top:-15%; position: absolute;}
    h2{color:$white; font-size:24px;}
    form{
        max-width:730px; margin:0 auto;
        .form-control{color:$white; border-width:0 0 1px 0; font-size: 16px; border-style:solid; border-color:$white; background:transparent;}
        .form-field{margin-bottom:15px;}
        .grid{
            &:first-child{padding-left:0;}
            &:last-child{padding-right:0;}
        }

        textarea{min-height:150px;}
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $white;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:$white;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $white;
        }
        .btn-wrapper{margin-top:10px;}
    }
}

.parallax-window{
    min-height: 400px;
    background: transparent;
}

//news
.session-news{
    margin-bottom:80px;
    /* clear fix */
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }

    .widget-option{
        text-align: center; margin-bottom:20px;
        li{display:inline-block; color:$white;
            a{color:$white;}
           border-right:1px solid rgba(255,255,255,0.4); padding:0 10px;
            &:last-child{
               border:none;
            }
            span{ display:block; padding:0 10px; @include transition;}
            &.active, &:hover{
                span{color:$white; background:#1899b0; border-radius:30px;}
            }
        }
    }

    /* ---- .element-item ---- */

    /* 5 columns, percentage width */
    .grid-item, .grid-sizer {
      width: 50%; 
      .grid-wrapper{
        margin:10px 15px; position:relative; overflow:hidden;
        .pos-text{position:absolute; bottom:0;@include transition; z-index:2; padding:15px; color:$white; background:url("../images/news/newsTextbg.png") left top repeat-x; width:100%;
           
        }
         .tag{border:1px solid white; border-radius:30px; padding:5px 10px; display:inline-block; line-height: 1;font-size:12px;}
        .date{font-size:10px; display:inline-block; border-top:3px solid $white; padding-top:6px;}
        .desp-title{margin:5px auto;}

        

        .img-wrapper{
            overflow:hidden;
            &.radius{border-radius:100%;}
        }

        img{@include transition;}

        &:hover{
            .pos-text{padding:15px 15px 30px 15px;}
            img {transform: scale(1.05);}
        }
      }

      &.theme2{
        .text-wrapper{background:#213b77; padding:15px;
            .desp-title{font-size:13px;}
        }
      }

       &.theme4{
        .text-wrapper{margin-top:20px;}
       }

      a{color:white;
        &:hover{text-decoration:none;}
      }
      .innerItem{padding:0;}

      .color2{
         .grid-wrapper .text-wrapper{background:#76beb8;}
      }
    }
    @media(max-width:767px){
        .grid-item, .grid-sizer {
          width: 100%; 
          &.theme2{  width: 100%; }
        }
    }

    .grid-item {
      float: left;
      
    }

}

.session-newsDetail{
    padding:60px 0; font-szie:14px;
    .container{max-width:750px; margin:0 auto;}
    h1{margin:20px auto;}
    .sessionTitle{
        color:$d-blue; text-align:center; font-size:$font-size13 ; line-height:1.6;text-transform:uppercase;
         &:after{background:$d-blue;}
    }
    .widget-social{
        margin-top:20px; border-top:1px solid #eee; padding-top:15px;
        h6{font-family:"gotham"; font-size:13px; text-transform:uppercase; text-align:center;}
        ul{list-style-type:none; padding:0; margin:0; text-align:center;
            li{display:inline-block; margin:0 5px;
                a{color:#666;}
            }
        }
    }
    .date{font-family:"gotham"; font-size:12px; text-transform:uppercase; text-align:center;}
}

.icon{display:inline-block; margin-right:5px;}

.img-fluid{max-width:100%;}

.widget-related{
    color:white; padding:30px 0;
    h6{font-family:"gotham"; font-size:13px; text-transform:uppercase; text-align:center; margin-bottom:20px;}
    .bx-wrapper{background:transparent; margin: 0 auto;}
    .item{text-align:center;
        img{margin:0 auto;}
        .text-wrapper{padding:10px;}
        .date{font-size:12px; margin-top:5px;}
    }
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif,  sans-serif, "Microsoft JhengHei", "Microsoft Yahei", "Hiragino Sans GB";
}


//faq
.sessionFaq{
    padding:60px 0 30px; .container{position:relative;}
    h1{font-size:$font-size10; color:$l-blue2;
        .icon{display:inline-block; margin-right:5px;}
    }
    .pos-search{position:absolute; right:0; top:50px;
        input{border-width:0 0 1px 0; border-color:#666; border-style:solid;}
        .searchBtn{background:transparent; border:none; margin-left:-30px;}
    }
}

.faqList{
    background:#f6f6f6; padding:40px 0;
    .faqGrid{
        border-bottom:1px solid #ddd;
        .icon{display:inline-block; margin-right:10px;  vertical-align: top;}
        a:hover{text-decoration:none;}
        .msg{display:inline-block; width:80%; border-radius:8px;@include box-shadow(0 0 5px rgba(0, 0, 0, 0.2)); padding: 8px 10px;background: #fff;}
        .pbody{padding:0px 15px 30px 15px;}
        .panel-title{
            .icon{vertical-align:middle;}
        }
    }

}

.widget-tab{
    display:inline-block; margin:0 auto;
    li{
        display:inline-block;border-right:1px solid #eee; padding:0 10px; margin: 0;    float: left;
        a{display:block; padding:5px 10px; @include transition; border-radius:30px;}
        &:last-child{border:none;}
        &.active, &:hover{
            a{background:$pink; color:$white;
                &:hover{text-decoration:none;}
            }
        }
    }
    a{color:#666;}
}

.section-about{
    .session-content{
        padding:50px 0 0 0; color:$white; text-align:center;
        h1, h2{font-size:$font-size10; margin:0 0 20px 0;}
        h6{ font-size:$font-size12; }
        .widget-tab{
            a{color:$white;}
        }
        .graphInfo{position:relative; margin:30px auto 70px; max-width:730px;}
        .btn-list{ background:$pink; color:$white; padding:20px 15px; margin-top:20px; position:relative; text-align:center; vertical-align: middle; letter-spacing:1px;
            .font-large{font-size:$font-size15; font-weight: 100; vertical-align: middle; display:inline-block;}
            .text-wrapper{display:inline-block; }
            .pos-btn{position:absolute; right:0; top:0; height:100%; @include transition; display:inline-block; padding:50px 30px; border-left:1px solid rgba(255,255,255,0.3);
                &:hover{
                    padding:50px 60px; text-decoration:none;
                }
            }
            .grid2{padding:10px 30px;margin-left:20px; border-left:1px solid rgba(255,255,255,0.3)}
            b{font-size:1.2em;}
            .icon{display:inline-block; margin-right:5px;}
            a{color:$white;}
            
        }
        .bubble{
             margin:0 auto;
            .icon-wrapper{
                display:inline-block; width:50%;float: left; 
            }
            .text{
                text-align:left;display:inline-block; width:50%;  float: left; 
                
                .number{font-size:200%; line-height:1;}
            }
            .wrapper{@include center; max-width:200px; width: 90%;}
            &.theme1{
                border-radius:100%;  position:relative; @include box-shadow(); background: #ff6158; /* Old browsers */background: -moz-linear-gradient(top, #ff6158 0%, #ff8882 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top, #ff6158 0%,#ff8882 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom, #ff6158 0%,#ff8882 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6158', endColorstr='#ff8882',GradientType=0 ); min-height:360px; max-width:360px;
                .icon-wrapper{
                   border-right:1px solid rgba(255,255,255,0.2);
                }
                .text-wrapper{padding:20px 0px 0 20px;}
                .icon-wrapper{
                     padding-right:10px; 
                }
            }
            &.theme2{
                border-radius:100%; @include box-shadow();
                background: #ba9d9b; /* Old browsers */
                background: -moz-linear-gradient(top, #ba9d9b 0%, #885754 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #ba9d9b 0%,#885754 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #ba9d9b 0%,#885754 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba9d9b', endColorstr='#885754',GradientType=0 ); /* IE6-9 */
                min-height:170px; min-width:170px; position:absolute; right:0; top:10%;
                .icon-wrapper, .text-wrapper{
                     padding-left:10px; 
                }
            }

            &.theme3{
                position:absolute; left:30px;top:20px;width:140px;
                .item-wrap{position:relative;
                    .text-wrapper{width:100%; text-align:right; font-size:14px; }
                    .icon-left{position:absolute; top: -25px;right: -30px;}
                }
            }
            &.theme4{
                position:absolute; left: -3%; top: 33%;width:170px;
                .item-wrap{position:relative;
                    .text-wrapper{width:100%; text-align:right; font-size:14px;}
                    .icon-left{position:absolute; top: -25px;right: -30px;}
                }
            }
            &.theme5{
                position:absolute; left: -5%;top: 63%;width:170px;
                .item-wrap{position:relative;
                    .text-wrapper{width:100%; text-align:right;font-size:14px; line-height:1.4;
                        .split{display: inline-block;line-height: 1.2;}
                     }
                    .icon-left{position:absolute; top: -25px;right: -30px;}
                }
            }

            &.theme6{
               position: absolute; left: 3%;bottom: -10%;width: 130px;
                .item-wrap{position:relative;
                    .text-wrapper{width:100%; text-align:right;font-size:14px; line-height:1.4;
                         .split{display: inline-block;line-height: 1.2;}
                     }
                    .icon-left{position:absolute; top: -25px;right: -30px;}
                }
            }

            &.theme7{
               position: absolute; right: -1%;bottom: 20%;width: 170px;
                .item-wrap{position:relative;
                    .text-wrapper{width:100%; text-align:left;font-size:14px; line-height:1.4; padding-left:55px;
                         .split{display: inline-block;line-height: 1.2;}
                     }
                    .icon-left{position:absolute; top: -25px;left: -30px;}
                }
            }

            &.theme8{
               position: absolute; right: -3%;bottom: 0%;width: 170px;
                .item-wrap{position:relative;
                    .text-wrapper{width:100%; text-align:left;font-size:14px; line-height:1.4; padding-left:55px;
                         .split{display: inline-block;line-height: 1.2;}
                     }
                    .icon-left{position:absolute; top: -25px;left: -30px;}
                }
            }
        }
        .section-case1{
            padding-bottom:80px;
            .casemap {
                position: relative;
                h6{position: relative; bottom: -50px;}
                .cssMap{text-align: right;}
                .text-wrapper{
                    position:absolute; bottom:30%; right:20px;
                    .number{display:inline-block;@include Number; font-size:$font-size15; border-radius:100%;  width: 100px; height:100px; line-height: 0.8; border:1px solid $white; padding:20px 5px;}
                    .descpt{text-align:left; padding:0 0 0 10px; display:inline-block; font-size:$font-size8; }
                }
            }
        }

        &.set3{
            padding:100px 0;
            .widget-tab {
                li.active a, li:hover a{background:$blue4;}
            }
            .shirt-item{display:inline-block; width:40%; float:left; position:relative; text-align:center;
                .counter{@include center; top: 60%; text-align:center; width:100%;
                    .font-large{font-size:$font-size5*1.2; display:block; line-height:1;}
                }
                img{margin:0 auto;}
            }
            .text-wrapper{display:inline-block; width:60%; float:left; padding:20px 0 20px 15px;}
            .infobox2{border-top:1px solid rgba(255,255,255,0.4); padding:20px 0; text-align: center;}
            .section-case1a{
                .container{max-width:920px;}
            }
            .item{padding:20px 0;}
            .caseBox{padding:40px 0;
                b{font-size:$font-size5*1.2;  line-height:0.8;}
            }
            .grid-left{padding:0px 30px 0 0;}
            .infoLine{margin-top:5px;}
            .ssitem{
                display:inline-block; position:relative; text-align:center;padding:0 5px;
                .counter{@include center; top: 70%; text-align:center; width:100%; 
                    .font-large{font-size:26px; display:block; line-height:0.8;}
                }
                img{margin:0 auto;}

            }
            .grid-right{
                padding:20px 0 0 30px; border-left: 1px solid rgba(255,255,255,0.3); margin-top:20px;
                .info{margin-top:8px;}
                .img-wrapper{margin-top:-10px; z-index:-1; position:relative;}
            }
        }
    }
}



//animation
@keyframes float {
    0% {
       
        transform: translatey(0px);
    }
    50% {
       
        transform: translatey(-20px);
    }
    100% {

        transform: translatey(0px);
    }
}