/* -------------------------------------------------- Gerenal Classes -------------------------------------------------- */
.reverse_captcha, .rc {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin-left: -99999px;
}

.fadein {
  opacity: 0;
}

/* fix for IE */
object {
  width: 100%;
}

.os-animation {
  opacity: 0;
}

input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------------------------- Template Styles -------------------------------------------------- */
.widget-floorplan {
  padding: 80px 0;
  position: relative;
}
.widget-floorplan h2 {
  color: white;
}
.widget-floorplan .pos-item {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
}
.widget-floorplan .floormap {
  max-width: 657px;
  margin: 0 auto;
  position: relative;
}
.widget-floorplan .floormap .hoverArea {
  position: absolute;
  width: 30%;
  height: 200px;
  z-index: 3;
  cursor: pointer;
}
.widget-floorplan .floormap .hoverArea.zone1 {
  width: 50%;
  left: 5%;
  bottom: 35%;
}
.widget-floorplan .floormap .hoverArea.zone3 {
  right: 30%;
  top: 10px;
  height: 200px;
  width: 40%;
}
.widget-floorplan .floormap .hoverArea.zone4 {
  right: 5%;
  top: 10px;
  height: 300px;
  width: 20%;
}
.widget-floorplan .floormap .hoverArea.reception {
  left: 7%;
  top: 65%;
  height: 166px;
  width: 15%;
}
.widget-floorplan .floormap .hoverArea.workshop {
  left: 21%;
  top: 70%;
  width: 27%;
  height: 100px;
}
@media (max-width: 767px) {
  .widget-floorplan .floormap .hoverArea.zone1 {
    z-index: 4;
    height: 30%;
    width: 33%;
    left: 15%;
    bottom: 33%;
  }
  .widget-floorplan .floormap .hoverArea a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.widget-floorplan .floormap .floor-display {
  position: absolute;
  right: -280px;
  top: 30px;
  z-index: 3;
  width: 270px;
  color: white;
  display: none;
}

.pos-audio {
  position: absolute;
  top: 240px;
  left: 40px;
  z-index: 1;
}

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
  display: none;
}
.bootstrap-datetimepicker-widget table td.day {
  height: 40px;
  line-height: 40px;
}
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
  opacity: 0.5;
}

.widget-calendar h4 {
  color: black;
}
.widget-calendar .select2-container {
  width: 100% !important;
}
.widget-calendar .selection {
  display: block;
}
.widget-calendar select {
  margin-top: 20px;
}
.widget-calendar .pos-btn {
  top: inherit;
  bottom: 0;
}
.widget-calendar .date {
  margin-bottom: 20px;
}
.widget-calendar .btn.theme3 .btn-wrapper {
  padding-top: 30px;
}


.widget-calendar .select2-container--default .select2-selection--single {
  background: #199ab1;
  border: none;
  border-radius: 0;
  height: 35px;
  padding: 5px 0;
}
.widget-calendar .select2-container--default .select2-selection--single .select2-selection__rendered, .widget-calendar .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: white;
}
.widget-calendar .select2-container--default .select2-selection--single .select2-selection__clear {
  display: none;
}
.widget-calendar .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
}
.widget-calendar .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #199ab1;
}

.session-logined .top-part {
  max-width: 650px;
  margin: 100px auto 0;
  text-align: left;
}
.session-logined .top-part h1 {
  margin: 0;
}
@media (min-width: 768px) {
  .session-logined .top-part .grid.theme2 {
    text-align: right;
  }
}
.session-logined .widget-profile {
  max-width: 650px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  padding-top: 30px;
}
.session-logined .bottom-part {
  max-width: 650px;
}
.session-logined .bottom-part .descrpt {
  width: 100%;
}
.session-logined .bottom-part .icon img {
  vertical-align: top;
}

.widget-submenu {
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #profile header.fixed {
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section-profile .game-profile .scorePanel canvas {
    width: 100% !important;
    height: auto !important;
  }
}
.section-profile .game-profile .scorePanel .type-list li {
  margin: 0;
}
.section-profile .game-profile .scorePanel .type-list .cssLabel {
  border: none;
}
.section-profile .game-profile .scorePanel .type-list .cssLabel.tag1 {
  background: #0277c6;
  margin-left: 0;
}
.section-profile .game-profile .scorePanel .type-list .cssLabel.tag2 {
  background: #db8e31;
}
.section-profile .game-profile .scorePanel .type-list .cssLabel.tag3 {
  background: #00ba8e;
}
.section-profile .game-profile a.link {
  color: white;
  text-decoration: none;
}
.section-profile .btn.theme7.tag1 {
  background: #0277c6;
}
.section-profile .btn.theme7.tag2 {
  background: #db8e31;
}
.section-profile .btn.theme7.tag3 {
  background: #00ba8e;
}
.section-profile .game-session .grid-item .img-wrapper {
  position: relative;
}
.section-profile .game-session .grid-item .img-wrapper .unlock {
  display: none;
  position: Absolute;
  top: 8px;
  right: 25px;
  font-size: 14px;
  color: white;
  background: #1dd1a1;
  border-radius: 20px;
  padding: 5px 15px;
}
.section-profile .game-session .grid-item .img-wrapper .unlock.block {
  display: block;
}
.section-profile h1 {
  font-size: 20px;
}
.section-profile h1 .icon img {
  width: 35px;
}
.section-profile .game-profile .section-slide {
  position: relative;
}
.section-profile .game-profile .section-slide .spaceM {
  position: absolute;
  right: -100px;
  display: none;
}
.section-profile .game-profile .section-slide .popup-msg {
  border-radius: 20px;
  padding: 15px;
  font-size: 14px;
  z-index: 2;
  top: -60px;
  position: absolute;
  right: 60px;
  width: 220px;
  height: 160px;
  background: #b3e000;
  background: -moz-linear-gradient(top, #b3e000 0%, #4ca100 100%);
  background: -webkit-linear-gradient(top, #b3e000 0%, #4ca100 100%);
  background: linear-gradient(to bottom, #b3e000 0%, #4ca100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b3e000", endColorstr="#4ca100",GradientType=0 );
}
.section-profile .session-myprofile .btn-wrapper {
  margin-top: 20px;
}

.margin-b-20 {
  margin-bottom: 40px;
}

.img-fluid {
  max-width: 100%;
}

.audio-bars {
  margin: 0;
  position: relative;
  width: 15px;
  height: 15px;
}
.audio-bars .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 3px;
  background-color: #a0d3ed;
  animation: up-down 0.6s infinite;
}
.audio-bars .bar:nth-child(2) {
  left: 6px;
  animation-delay: -0.4s;
}
.audio-bars .bar:nth-child(3) {
  left: 12px;
  animation-delay: -0.2s;
}

@keyframes up-down {
  from {
    top: 15px;
  }
  50% {
    top: 0;
  }
  to {
    top: 15px;
  }
}
.glitch {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 163px;
  height: 97px;
  overflow: hidden;
  z-index: 1;
}
.glitch.theme2 {
  top: 30px;
  bottom: inherit;
  width: 271px;
  height: 204px;
}
.glitch.theme2 .glitch-img {
  background: url(../images/floorplan/panel02.png) no-repeat 50% 0;
}

.glitch-img {
  position: absolute;
  top: calc(-1 * 5px);
  left: calc(-1 * 10px);
  width: calc(100% + 10px * 2);
  height: calc(100% + 5px * 2);
  background: url(../images/floorplan/panel01.png) no-repeat 50% 0;
  background-color: transparent;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  background-blend-mode: none;
}

.glitch-img:nth-child(n+2) {
  opacity: 0;
}

.glitch .glitch-img:nth-child(n+2) {
  animation-duration: 4s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.glitch .glitch-img:nth-child(2) {
  background-color: transparent;
  background-blend-mode: none;
  animation-name: glitch-anim-1;
}

.glitch .glitch-img:nth-child(3) {
  background-color: transparent;
  background-blend-mode: none;
  animation-name: glitch-anim-2;
}

.glitch .glitch-img:nth-child(4) {
  background-color: transparent;
  background-blend-mode: none;
  animation-name: glitch-anim-3;
}

/* Animations */
@keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    transform: translate3d(calc(-1 * 10px), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(calc(-1 * 10px), 0, 0);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
@keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
.widget-dd {
  width: 100%;
  display: block;
}
.widget-dd button {
  width: 100%;
  display: block;
  background: transparent;
  border-color: white;
  color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.widget-dd .widget-option {
  width: 100%;
}
.widget-dd .widget-option li {
  display: block;
  color: #1899b0;
  margin: 5px 0;
}
.widget-dd .caret, .widget-dd .icon {
  display: inline-block;
  margin-left: 5px;
}

.section-registration.session-search .content ul {
  list-style-type: none;
  padding: 0;
}

.lang-btn {
  display: none;
}

#faqQ .bkgd {
  background: url("../images/faq/faqBg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.popup {
  display: none;
  max-width: 500px;
}
.popup h2 {
  font-size: 18px;
}
.popup .icon {
  vertical-align: middle;
}
.popup svg path {
  fill: #1ca5b8;
}
.popup#forgot {
  min-width: 300px;
}
.popup#forgot .btn-wrapper {
  margin-top: 20px;
  text-align: center;
}
.popup#forgot a {
  font-family: "Comfortaa", helvetica, arial, sans-serif, "source-han-sans-traditional", "Microsoft JhengHei", "Microsoft Yahei", "Hiragino Sans GB";
}
.popup.theme3 {
  background: transparent;
  color: white;
}
.popup.theme3 .fancybox-close-small {
  color: white;
  top: -10px;
}

.animsition {
  overflow-x: hidden;
}

.inline-list a:hover, .inline-list a:focus {
  text-decoration: none;
}

.fancybox-bg {
  background: #000;
}

.widget-contactForm2 {
  color: #434343;
}
.widget-contactForm2 select {
  padding: 5px 10px;
  float: right;
  width: 50%;
}

.section-about .session-content.set2 .section-case3 h5 {
  margin: 0 0 10px 0;
}
.section-about .session-content.set2 .section-case3 .item {
  font-size: 20px;
}
.section-about .session-content.set2 .section-case3 .small-font {
  font-size: 15px;
}
.section-about .session-content.set2 .section-case3 .title {
  min-height: 50px;
}
.section-about .session-content.set2 .section-case3 .img-wrap {
  min-height: 200px;
}
.section-about .session-content.set2 .section-case3 .number {
  font-size: 40px;
  font-family: "Oswald", helvetica, arial, sans-serif, "source-han-sans-traditional", "Microsoft JhengHei", "Microsoft Yahei", "Hiragino Sans GB";
}
.section-about .session-content.set3 .section-case2b {
  font-size: 18px;
}
.section-about .session-content.set3 .section-case2b .grid-column {
  margin-top: 20px;
}
.section-about .session-content.set3 .section-case2b .grid-1, .section-about .session-content.set3 .section-case2b .grid-2 {
  font-size: 18px;
}
.section-about .session-content.set3 .section-case2b .grid-1 {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .section-about .session-content.set3 .section-case2b .grid-1 {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.section-about .session-content.set3 .section-case2b .text-small {
  font-size: 16px;
}
.section-about .session-content.set3 .section-case2b .dish {
  max-width: 200px;
  margin: 15px auto;
}
.section-about .session-content.set3 .section-case2b .font-large {
  font-size: 30px;
}
.section-about .session-content.set3 .section-case2b .circle-wrapper {
  border: 1px solid #ff4a48;
  width: 150px;
  height: 150px;
  padding: 40px 0 0;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
.section-about .session-content.set3 .section-case2b .circle-wrapper .font-large {
  display: block;
  color: #ff5b52;
}
.section-about .session-content.set3 .section-case2b .bus-wrapper {
  margin-top: 20px;
}
.section-about .session-content.set3 .section-case2b .margin-t-20 {
  margin: 20px;
  display: block;
}
.section-about .session-content.set3 .section-case2b .bus-counter {
  position: relative;
  text-align: center;
}
.section-about .session-content.set3 .section-case2b .bus-counter:after {
  display: inline-block;
  content: "x";
  position: absolute;
  top: 40%;
  right: -20px;
}
.section-about .session-content.set3 .section-case3b {
  font-size: 18px;
}
.section-about .session-content.set3 .section-case3b img {
  max-width: 370px;
}

.number {
  font-family: "Oswald", helvetica, arial, sans-serif, "source-han-sans-traditional", "Microsoft JhengHei", "Microsoft Yahei", "Hiragino Sans GB";
}

.session-faqQu {
  padding: 50px 0 20px;
}
.session-faqQu .sessionTitle {
  color: #1ca5b8;
  margin: 10px 0;
}
.session-faqQu .sessionTitle:after {
  display: none;
}
.session-faqQu .wrapper {
  position: relative;
  margin-left: -50px;
  margin-top: -50px;
  -webkit-box-shadow: inset 0px 0px 30px 0px #83d7e7;
  -moz-box-shadow: inset 0px 0px 30px 0px #83d7e7;
  box-shadow: inset 0px 0px 30px 0px #83d7e7;
  border-radius: 100%;
  padding: 100px;
  min-height: 500px;
  max-width: 500px;
}
@media (min-width: 768px) {
  .session-faqQu .pos-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    width: 100%;
    padding: 0 100px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .session-faqQu .wrapper {
    width: 400px;
    min-height: 400px;
  }
  .session-faqQu .session-form {
    padding: 20px 0 50px 0;
  }
}
@media (max-width: 767px) {
  .session-faqQu {
    padding: 50px 0 0px;
  }
  .session-faqQu .sessionTitle {
    font-size: 18px;
  }
  .session-faqQu .wrapper {
    margin: -20px auto 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: i none;
    min-height: inherit;
    max-width: 100%;
    border-radius: 30px;
    padding: 20px 30px;
  }
}

.session-form .cssTab {
  margin: 30px auto;
}
.session-form.widget-contactForm2 {
  background: transparent;
}
@media (max-width: 767px) {
  .session-form.widget-contactForm2 {
    padding: 20px 0 50px 0;
  }
  .session-form.widget-contactForm2 form {
    padding: 30px;
  }
}
.session-form.widget-contactForm2 form {
  border: 3px solid #4be4fb;
  max-width: 900px;
  padding: 40px;
  background: white;
  -webkit-box-shadow: 0px 0px 15px 0px #c4e0e7;
  -moz-box-shadow: 0px 0px 15px 0px #c4e0e7;
  box-shadow: 0px 0px 15px 0px #c4e0e7;
  border-radius: 30px;
}
.session-form.widget-contactForm2 form .form-control {
  color: #434343;
  border-color: #c8c8c8;
}
.session-form.widget-contactForm2 form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #434343;
}
.session-form.widget-contactForm2 form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #434343;
}
.session-form.widget-contactForm2 form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #434343;
}

button:hover, button:active {
  outline: none !important;
}

.section-registration {
  /* background:url("../images/reservation/bg.jpg") center center no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;*/
  overflow: hidden;
}

.widget-calendar .innerFrame {
  padding: 40px 30px;
}
.widget-calendar p {
  text-align: center;
}

.widget-bookForm .innerFrame {
  padding: 40px 30px;
}
.widget-bookForm p {
  text-align: center;
}
.widget-bookForm .control-label {
  font-weight: 100;
  text-align: left;
}
.widget-bookForm .form-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.widget-bookForm .form-wrapper .btn.theme9 {
  display: inline-block;
  padding: 5px 30px;
}
.widget-bookForm .form-wrapper .checkbox {
  margin: 0 10px;
}
.widget-bookForm .form-wrapper .margin-left {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}

.widget-checkout .innerFrame {
  padding: 20px 15px 80px;
  max-width: 500px;
  margin: 0 auto;
}
.widget-checkout p {
  text-align: center;
}
.widget-checkout .grid-col {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}
.widget-checkout .grid-col ul {
  list-style-type: none;
  padding: 0;
}
.widget-checkout .grid-col ul li {
  line-height: 1.5;
  margin: 5px 0;
}
.widget-checkout .grid-col.last {
  border-bottom: none;
}
.widget-checkout .grid-col h4 {
  color: #23c6dd;
}
.widget-checkout .grid-col .opt {
  display: inline-block;
  margin-left: 5px;
}
.widget-checkout .b-wrapper {
  margin: 20px auto 10px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sessionFaq .widget-tab {
    float: left;
  }

  header .nav-menu {
    padding: 0;
  }
  header .nav-menu li {
    padding: 0 5px;
  }
  header .nav-menu li .theme6 {
    padding: 3px 15px;
  }

  .session-form .container {
    max-width: 80%;
    margin: 0 auto;
  }
  .session-form .spaceM {
    right: -100px;
  }

  .session-contact .grid-info .field {
    margin-bottom: 20px;
  }
  .session-contact .grid-info .field .cssLabel {
    margin-bottom: 3px;
    display: inline-block;
  }
}
@media (min-width: 1280px) {
  .space-box {
    height: 1200px;
    width: 1200px;
  }

  .space-box2 {
    height: 1350px;
    width: 1350px;
  }
}
@media (max-width: 1024px) {
  .section-about .session-content .section-case1 .casemap .text-wrapper {
    width: 100%;
    bottom: -5%;
    right: 0;
    top: inherit;
    max-width: 100%;
    text-align: center;
  }
  .section-about .session-content .section-case1 .casemap .text-wrapper .pull-left {
    float: none !important;
  }
  .section-about .session-content .section-case1 .casemap .text-wrapper .number {
    font-size: 30px;
    width: 60px;
    height: 60px;
    padding: 15px 5px 0;
  }
  .section-about .session-content.set3 .grid-right .img-wrapper {
    z-index: 2;
  }
}
@media (max-width: 767px) {
  .widget-banner.theme2 {
    min-height: 300px;
  }

  h1, .h1 {
    font-size: 24px;
  }

  .lang-btn {
    display: block;
  }

  header {
    padding: 5px 20px;
  }
  header .mainMenu .logo-core {
    width: 100%;
    float: none;
    text-align: center;
  }
  header .navbar-toggle.lang-set {
    right: 0;
    left: inherit;
    padding: 0;
    top: 10px;
  }
  header .navbar-toggle.lang-set img {
    min-width: 20px;
  }
  header .nav-menu li {
    font-size: 15px;
  }
  header .nav-menu li a:after {
    max-width: 30px;
    left: 46%;
  }
  header #login-menu .nav-menu {
    padding-bottom: 20px;
  }
  header #login-menu .nav-menu .lang-btn {
    padding: 0;
    margin: 15px auto 0;
    text-align: center;
  }
  header #login-menu .nav-menu .lang-btn li {
    display: inline-block;
    padding: 0 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
  header #login-menu .nav-menu .lang-btn li:first-child {
    border: none;
  }
  header #login-menu .nav-menu .lang-btn li:nth-child(2) {
    border: none;
  }

  .section-hallIntro .session-intro .counter-item .counter {
    height: 143px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .section-hallIntro .session-intro .counter-item .counter .small-font {
    font-weight: 200;
    margin-top: 10px;
  }
  .section-hallIntro .session-hall {
    min-height: 350px;
  }
  .section-hallIntro .session-hall .text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }

  .logo img {
    max-width: 200px;
  }

  .session-hall {
    padding: 30px 0;
  }
  .session-hall .grid-item .text-wrapper {
    font-size: 18px;
  }

  .section-about .session-content.set2 .grid-item {
    min-height: inherit;
    max-height: inherit;
  }

  .section-registration.session-search .panel-wrapper {
    background-color: white;
    background-image: none;
    border-radius: 20px;
    border: 1px solid #d2f9ff;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(26, 158, 179, 0.5);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(26, 158, 179, 0.5);
    box-shadow: inset 0px 0px 20px 0px rgba(26, 158, 179, 0.5);
  }
  .section-registration.session-search .panel-wrapper .headline {
    margin-top: -25px;
    padding: 0 0 30px 0;
  }

  .widget-floorplan {
    padding: 40px 0 40px 0;
  }
  .widget-floorplan .audio-bars {
    display: none;
  }

  body {
    overflow-x: hidden;
    font-size: 14px;
  }

  .session-logined {
    border-radius: 20px;
    padding: 50px 30px 60px;
    height: inherit;
    margin: 30px auto;
  }
  .session-logined .pos-item {
    display: none;
  }
  .session-logined .wrapper {
    padding: 0 0;
  }
  .session-logined .top-part {
    padding-top: 0px;
    margin: 20px auto 0;
  }
  .session-logined .widget-profile {
    padding: 20px 0;
    margin: 20px 0 0 0;
  }
  .session-logined .widget-profile .myProfile, .session-logined .widget-profile .myProfile-txt {
    width: 100%;
    float: left;
  }
  .session-logined .widget-profile .myProfile-txt {
    padding: 10px 0;
  }
  .session-logined .bottom-part {
    padding: 0;
  }
  .session-logined .bottom-part .col-grid .item {
    margin: 0;
    padding: 0;
  }

  .session-contact .grid-info .field {
    margin-bottom: 15px;
  }

  .section-about .session-content .graphInfo {
    position: relative;
    margin: 30px auto 30px;
  }
  .section-about .session-content .btn-list {
    padding: 20px 0 0;
  }
  .section-about .session-content .btn-list .pos-btn {
    position: relative;
    right: inherit;
    top: inherit;
    height: inherit;
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: none;
    max-width: 100%;
  }
  .section-about .session-content .btn-list .grid1 {
    width: 30%;
  }
  .section-about .session-content .btn-list .grid1 .font-large {
    font-size: 40px;
  }
  .section-about .session-content .btn-list .grid2 {
    width: 70%;
    margin-left: 0;
    padding: 0 30px 10px 30px;
  }
  .section-about .session-content .bubble.theme1 {
    max-width: 340px;
    min-height: 340px;
  }
  .section-about .session-content.set2 .section-case3 {
    padding: 20px 0;
  }
  .section-about .session-content.set2 .section-case3 h5 b {
    font-size: 24px;
  }
  .section-about .session-content.set2 .section-case3 h5 .small-font {
    font-size: 20px;
  }
  .section-about .session-content.set2 .section-case3 .item {
    font-size: 16px;
  }
  .section-about .session-content.set2 .section-case3 .item .img-wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .section-about .session-content.set2 .section-case3 .item:last-child .img-wrapper {
    border: none;
  }
  .section-about .session-content.set2 .section-case3 .item .img-wrap {
    float: left;
    width: 50%;
    min-height: inherit;
  }
  .section-about .session-content.set2 .section-case3 .item .counter {
    float: left;
    width: 50%;
  }
  .section-about .session-content .section-case1 .casemap .text-wrapper {
    position: relative;
    right: inherit;
    top: inherit;
    max-width: 100%;
    font-weight: 100;
    font-family: "Comfortaa", helvetica, arial, sans-serif, "source-han-sans-traditional", "Microsoft JhengHei", "Microsoft Yahei", "Hiragino Sans GB";
    font-size: 20px;
  }
  .section-about .session-content .section-case1 .casemap .text-wrapper .descpt {
    text-align: left;
    padding: 10px 10px;
  }
  .section-about .session-content h1, .section-about .session-content h2 {
    font-size: 1.6em;
  }
  .section-about .session-content .widget-tab a {
    margin: 0 5px;
  }
  .section-about .session-content.set3 .item {
    padding: 20px 0 0;
  }
  .section-about .session-content.set3 .infobox2 {
    padding: 30px 0 20px 0;
  }
  .section-about .session-content.set3 .grid-right {
    padding: 0 15px;
    border-left: none;
  }
  .section-about .session-content.set3 .grid-right .img-wrapper {
    z-index: 1;
  }
  .section-about .session-content.set3 .caseBox {
    font-size: 16px;
  }
  .section-about .session-content.set3 .caseBox .grid-left {
    padding: 0;
  }
  .section-about .session-content.set3 .caseBox .grid-right {
    text-align: center;
  }
  .section-about .session-content.set3 .section-case2b .grid-1, .section-about .session-content.set3 .section-case2b .grid-2 {
    font-size: 16px;
    line-height: 1.8;
  }
  .section-about .session-content.set3 .section-case2b .margin-t-20 {
    margin: 20px 0 0;
  }
  .section-about .session-content.set3 .section-case2b .circle-wrapper {
    width: 110px;
    height: 110px;
    padding: 15px 0 0;
  }
  .section-about .session-content.set3 .section-case3b img {
    max-width: 100%;
  }
  .section-about .section-bio .item {
    margin-bottom: 10px;
  }
  .section-about .section-bio .item .img-wrapper, .section-about .section-bio .item .text-wrapper {
    float: left;
    width: 50%;
  }
  .section-about .section-bio .item .text-wrapper {
    padding: 30px 0 0;
  }
  .section-about .session-content.set1 #slide1 .btn-list, .section-about .session-content.set1 #slide2 .btn-list {
    min-height: inherit;
  }
  .section-about .session-content.set1 #slide2 .btn-list {
    padding-top: 0;
  }
  .section-about .session-content.set1 #slide2 .btn-list .pos-btn {
    border-top: none;
    margin-top: 0;
  }

  .widget-form .selection {
    display: block;
  }
  .widget-form .selection .item {
    width: 49%;
    margin: 0 0.5%;
    height: 120px;
  }
  .widget-form .selection .item .descpt {
    padding: 30px 0;
  }
  .widget-form .selection .item .cap {
    font-size: 20px;
  }
  .widget-form .selection .item:hover .shape, .widget-form .selection .item.active .shape {
    transform: rotate(0deg);
  }
  .widget-form .selection .item:hover .shape:After, .widget-form .selection .item.active .shape:After {
    display: none;
  }
  .widget-form .selection .item:last-child .descpt {
    padding: 50px 0 0;
  }
  .widget-form .icounter {
    overflow: hidden;
    height: 30px;
  }
  .widget-form .input-number {
    width: 60px;
  }
  .widget-form .wrapper {
    padding: 20px;
  }

  .section-registration .pos-btn {
    right: -5px;
    top: -10px;
  }


	.widget-form .pos-btn.cancel-btn {
		left: -15px;
		top: -30px;
		bottom: auto;
		right: auto;
	}
	.widget-form .pos-btn.cancel-btn .btn-wrapper{
	}
	.widget-form .pos-btn.cancel-btn .icon{
	}
	.widget-form .pos-btn.cancel-btn .icon img{
	}


  #contact .session-form .spaceM {
    display: none;
  }

  .section-registration .pos-item {
    display: none;
  }

  .type-list li {
    margin-bottom: 10px;
  }

  .section-loglanding .session-logined {
    padding: 50px 30px 30px;
  }
  .section-loglanding .space-outer {
    left: 5%;
    width: 90%;
    height: 97%;
    top: 15px;
    border: 1px dotted rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }

  .section-profile .session-myprofile .title {
    font-size: 18px;
    padding: 0 15px;
  }
  .section-profile .session-myprofile .info {
    font-size: 14px;
    padding: 0 15px;
  }
  .section-profile .session-myprofile .pos-grid {
    top: 40%;
  }
  .section-profile .widget-dd button {
    border-width: 1px 0;
    border-color: rgba(255, 255, 255, 0.3);
    height: 40px;
  }
  .section-profile .game4-list .paragraph h1 {
    font-weight: 100;
    letter-spacing: -0.5px;
    font-size: 18px;
  }
  .section-profile .game4-list .item {
    margin: 0 0 20px 0;
    float: left;
    width: 50%;
  }
  .section-profile .game4-list .item .title {
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 5px;
    display: inline-block;
    padding: 5px 20px;
  }
  .section-profile .game-profile .game-session .row {
    margin: 0 auto;
  }
  .section-profile .game-profile .game-session .grid-item .speechBubble {
    top: -60px;
    right: 0px;
  }
  .section-profile .game-profile .game-session .slider-nav .item .wrapper {
    margin: 0 10px;
  }
  .section-profile .game-profile .game-session .grid-item .img-wrapper .unlock {
    top: -10px;
    right: 0;
  }
  .section-profile .game-profile .scorePanel {
    padding: 40px 0 0;
  }

  .widget-submenu {
    padding: 0;
  }

  .btn {
    font-size: 14px;
  }

  header.fixed {
    position: relative;
  }

  .section-MMlogin .pos-item {
    width: 40%;
    top: inherit;
    left: -40px;
    bottom: -80px;
  }
  .section-MMlogin .panel-login .login-box {
    border-radius: 20px;
    padding: 50px 30px 60px;
    min-height: inherit;
  }
  .section-MMlogin .widget-form form {
    margin-top: 20px;
  }
  .section-MMlogin .widget-form form .form-field .inline-list li {
    diplay: block;
    width: 100%;
    text-align: left !important;
  }

  .section-about .session-content .bubble.theme2 {
    max-width: 50%;
    float: left;
    position: relative;
    top: inherit;
    left: inherit;
  }
  .section-about .session-content .bubble.theme3, .section-about .session-content .bubble.theme4, .section-about .session-content .bubble.theme5, .section-about .session-content .bubble.theme6, .section-about .session-content .bubble.theme7, .section-about .session-content .bubble.theme8 {
    max-width: 50%;
    width: 50%;
    float: left;
    margin: 10px 0 0;
    position: relative;
    top: inherit;
    bottom: inherit;
    left: inherit;
  }
  .section-about .session-content .bubble.theme3 .item-wrap .text-wrapper, .section-about .session-content .bubble.theme4 .item-wrap .text-wrapper, .section-about .session-content .bubble.theme5 .item-wrap .text-wrapper, .section-about .session-content .bubble.theme6 .item-wrap .text-wrapper, .section-about .session-content .bubble.theme7 .item-wrap .text-wrapper, .section-about .session-content .bubble.theme8 .item-wrap .text-wrapper {
    font-size: 12px;
    padding-left: 0;
    text-align: right !important;
  }
  .section-about .session-content .bubble.theme3 .item-wrap .icon-left, .section-about .session-content .bubble.theme4 .item-wrap .icon-left, .section-about .session-content .bubble.theme5 .item-wrap .icon-left, .section-about .session-content .bubble.theme6 .item-wrap .icon-left, .section-about .session-content .bubble.theme7 .item-wrap .icon-left, .section-about .session-content .bubble.theme8 .item-wrap .icon-left {
    position: relative;
    top: -20px;
    bottom: inherit;
    left: inherit;
    float: left;
    width: 50%;
    right: inherit;
  }

  .widget-banner.theme3 {
    min-height: 400px;
  }

  .map #map {
    height: 300px;
  }
  .map .contact-card {
    position: relative;
    top: inherit;
    right: inherit;
    max-width: 100%;
  }

  .widget-tab {
    padding: 0;
  }
  .widget-tab li {
    padding: 0;
    font-size: 14px;
  }

  .sessionFaq .pos-search {
    position: relative;
    top: inherit;
    right: inherit;
    margin-top: 20px;
  }
  .sessionFaq .pos-search input {
    width: 100%;
  }
}

/*# sourceMappingURL=style_mobile.css.map */
