#AuthType Basic
#AuthName "Restricted Content"
#AuthUserFile /etc/apache2/.htpasswd
#Require valid-user

<IfModule mod_rewrite.c>
Options +FollowSymlinks -Multiviews
RewriteEngine on

RewriteCond %{REQUEST_URI} ^/hk/
RewriteRule ^hk/(.*)$ public/index.php?s=$1 [QSA,PT,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php?s=$1 [QSA,PT,L]

</IfModule>